# Ignore node_modules and build artifacts
node_modules
.expo
.expo-shared
npm-debug.log
yarn-error.log
dist
build
coverage
*.tsbuildinfo

# Ignore test and coverage files
__tests__/
coverage/

# Ignore local env files
.env
.env.*

# Ignore IDE/editor files
.vscode/
.idea/
.DS_Store
*.swp
